$theme-colors: (
        "info": #e03d70,
        "primary":#7a7271,
);

@import "~bootstrap/scss/bootstrap";


body{
    background-color: #141921;
    p{
        color:white;
    };

    h1{
        font-size: 50px;
        text-align: center;
    }

    main{
        height: 65vh;
        width: 95vw;
        display:flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;

        .infos{

            height: 70vh;
            position: relative;
            display:flex;
            justify-content: flex-start;
            align-items: flex-end;

            img{
                height:100%;


            }
            .textInfos{
                position: absolute;
                color: white;
            }
        }
        .commentary {
            min-width: 30vw;
            height: 70vh;
            margin: auto;
            overflow: auto;

            .oneReview {
                margin-bottom: 1em;
                background-color: #dfdfdf;

                .reviews {
                    margin: 1em;

                    height: 70%;
                    border-bottom: #21215e 2px solid;

                }

                .comments {


                    overflow: auto;
                }
            }
        }

    }



    /*--------------review_index--------------*/


    .table{
        background-color: #dfdfdf;
        width: 80vw;
        margin: auto;
        height: 70vh;
    }

}
