{% extends 'base.html.twig' %}

{% block title %}Work{% endblock %}

{% block body %}
<main class="mainForm">
    <h1>Tell us what you think</h1>
    <form method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="button">{{ button_label|default('Send') }}</button>
        {{ form_end(form) }}
    </form>
</main>
{% endblock %}
