<nav class="navbar navbar-expand-md bg-primary navbar-light">
    <a class="navbar-brand" href="{{ path('home') }}">A Critique State of Mind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li>
                <a class="links" href="#">GENRES</a>
            </li>
            <li>
                <a class="links" href="#">CATEGORIES</a>
            </li>
            <li >
                <a class="links" href="{{ path('review_index') }}">REVIEWS</a>
            </li>
            <li>
                <a class="login" href="{{ path('login') }}">login</a>
            </li>
        </ul>
    </div>
</nav>
